VITE_SUPABASE_URL='https://oarftqrdivpdhhdrvqrp.supabase.co'
VITE_SUPABASE_ANON_KEY='sb_publishable_LZlzjIqQTIvNIXTGmUe9BQ_UZe7Bl_Q'
GEMINI_API_KEY='AQ.Ab8RN6I9P9H3QEbzi0JVqhWI657X9Yia1b4gfXC8shcSFJ_N2w'
